article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

nav{
    background-color: dimgray;
}

nav
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
    }
nav
    li{
        text-align: center;
        align-self: center;
        background-color: rgb(58, 58, 58);
    }
nav
    a{
        text-decoration: none;
        color: white;
    }
nav
    li:hover{
        background-color: brown;
    }

.cikk{
    direction: ltr;
    justify-content: start;
    height: auto;
}
/* 
#n1{order: 3;}
#n2{order: 2;}
#n3{order: 1;}
#n4{order: 4;}
#n5{order: 5;}
 */
